
    

    .image{
        
        position: relative;

        &:hover{
            .subImage{
                z-index: 2;
            }
        }

        img{
            
            position: absolute;
        }


        .mainImage{
            z-index: 1 ;
        }


        span{
           /*  position: absolute;
            top: 50px;
              
            background-color: rgb(22, 203, 103);
            color: white;
            padding: 5px 40px;
            z-index: 3; */
        }
    }

    .content{
        margin: 3px 20px;


        h2{
            font-size:26px;
            font-weight: 700;
        }
    
        p{
            margin: 10px 0px;
        }


        .price{
            display: flex;
            gap: 20px;
    
            
            h3{
                font-size: 18px;
                font-weight: 600;
            }
    
        }
    }

    

    
